#vs.row
  .span5{:style => 'text-align:center'}
    = image_tag @players[0].photo
    
    %h4.divider Score Total
    %score= @players[0].bets.sum :points

    %h4.divider Apostas
    - points = gm = 0
    - @round.each do |game|
      - bet = game.bets.find_by_user_id @players[0].id
      - bet = (bet.nil? or @actual_round > Game.actual_round) ? ['-','-',0] : [bet.home_score, bet.visitor_score, bet.points]
      - score = game.home_score.nil? ? ['-', '-'] : [game.home_score, game.visitor_score]
      - points += bet[2]
      - gm += bet[2] / 6
      .jogo{:onmouseover => 'showScore(this)',:onmouseout => 'hideScore(this)',:score => score,:bet => bet}
        .info
          = game.date.strftime "%d/%m %H:%M" + ' - '
          = game.stadium
        .placar
          .mandante
            .logo= image_tag "http://footstats.net/logos/#{game.home.logo}"
            .team= game.home.abr
            .score= bet[0]
          %span x
          .visitante
            .score= bet[1]
            .team= game.visitor.abr
            .logo= image_tag "http://footstats.net/logos/#{game.visitor.logo}"
          .pontuation{:style => 'float:right;margin-right:10px'}
            = bet[2]
    %h4.divider Score da Rodada
    = "#{points} Pontos"
    %br
    = "#{gm} GMs"
  
  .span2.vs
    .vs-head vs
    %button{:onclick => 'update(this)'} Update
    .pagination{:round => @actual_round}
      %ul
        %li
          %a{:href => "#", :onclick => 'paginate()'} «
        %li{:class => ('active' if @actual_round < 38)}
          %a{:href => "#", :onclick => 'paginateTo()'}= @actual_round < 38 ? @actual_round : @actual_round - 1
        %li{:class => ('active' if @actual_round == 38)}
          %a{:href => "#", :onclick => 'paginateTo()'}= @actual_round == 38 ? @actual_round : @actual_round + 1
        %li
          %a{:href => "#", :onclick => 'paginate()'} »
 
  .span5{:style => 'text-align:center'}
    = image_tag @players[1].photo
    
    %h4.divider Score Total
    %score= @players[1].bets.sum :points

    %h4.divider Apostas
    - points = gm = 0
    - @round.each do |game|
      - bet = game.bets.find_by_user_id @players[1].id
      - bet = (bet.nil? or @actual_round > Game.actual_round) ? ['-','-',0] : [bet.home_score, bet.visitor_score, bet.points]
      - score = game.home_score.nil? ? ['-', '-'] : [game.home_score, game.visitor_score]
      - points += bet[2]
      - gm += bet[2] / 6
      .jogo{:onmouseover => 'showScore(this)',:onmouseout => 'hideScore(this)',:score => score,:bet => bet}
        .info
          = game.date.strftime "%d/%m %H:%M" + ' - '
          = game.stadium
        .pontuation{:style => 'float:left;margin-left:10px'}
          = bet[2]
        .placar
          .mandante
            .logo= image_tag "http://footstats.net/logos/#{game.home.logo}"
            .team= game.home.abr
            .score= bet[0]
          %span x
          .visitante
            .score= bet[1]
            .team= game.visitor.abr
            .logo= image_tag "http://footstats.net/logos/#{game.visitor.logo}"
    %h4.divider Score da Rodada
    = "#{points} Pontos"
    %br
    = "#{gm} GMs"